@import (reference) "~bootstrap-less/bootstrap/index.less";

.form__header {
  background: @body-bg;
  border: 1px solid #ced4da;
  padding: 1rem;

  h4 {
    font-weight: 400;
  }
}

.form__buttons {
  margin: 1rem 0;
  & > button {
    margin-right: 1rem;
  }
}